header{
    border: 2px solid navy
}

body{
    background-color: powderblue;
    margin: 20px;
    
}
h1{
    color: navy;
    font-family: arial;
    /*padding:30px;*/
}

p{
    color:black;
    font-family:'Times New Roman', Times, serif;
}

/*table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-color:blue;
  }
  */

table{
    border:2px solid black;
    border-collapse:collapse;
}

td, th{ /* individual elements of the table*/
    padding:5px;
}


thead, tbody, tfoot{ /*grouped rows of the table*/
    padding:5px 0px;
}


section{
    border: 1px solid black;
}

tr{
    border-bottom: 2px solid black;
}
